.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 2px solid #b1191a;
    padding: 3px 0 3px 14px;
}

.sk_list {
    margin-bottom: 10px;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con ul li {
    float: left
}

.sk_con {
    float: left;
    overflow: hidden;
}

.sk_con ul li a {
    display: block;
    line-height: 47px;
    padding: 0 20px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
    content: "\e620";
    font-family: "iconfont";
    margin-left: 2px;
}

.sk_bd ul li {
    overflow: hidden;
    width: 290px;
    height: 460px;
    margin-right: 13px;
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #c81623;
}